In [2]:
import pandas as pd
from sklearn import preprocessing

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2014,1,1,1,96,235,70,AS,N508AS,145,PDX,ANC,194,1542,0,1
1,2014,1,1,4,-6,738,-23,US,N195UW,1830,SEA,CLT,252,2279,0,4
2,2014,1,1,8,13,548,-4,UA,N37422,1609,PDX,IAH,201,1825,0,8
3,2014,1,1,28,-2,800,-23,US,N547UW,466,PDX,CLT,251,2282,0,28
4,2014,1,1,34,44,325,43,AS,N762AS,121,SEA,ANC,201,1448,0,34
5,2014,1,1,37,82,747,88,DL,N806DN,1823,SEA,DTW,224,1927,0,37
6,2014,1,1,346,227,936,219,UA,N14219,1481,SEA,ORD,202,1721,3,46
7,2014,1,1,526,-4,1148,15,UA,N813UA,229,PDX,IAH,217,1825,5,26
8,2014,1,1,527,7,917,24,UA,N75433,1576,SEA,DEN,136,1024,5,27
9,2014,1,1,536,1,1334,-6,UA,N574UA,478,SEA,EWR,268,2402,5,36

In [5]:
df['origin']

0    PDX
1    SEA
2    PDX
3    PDX
4    SEA
5    SEA
6    SEA
7    PDX
8    SEA
9    SEA
Name: origin, dtype: object

In [6]:
label_encoder = preprocessing.LabelEncoder()
label_encoder.fit_transform(df['origin'])

array([0, 1, 0, 0, 1, 1, 1, 0, 1, 1])

In [7]:
pd.get_dummies(df['origin'])

   PDX  SEA
0  1.0  0.0
1  0.0  1.0
2  1.0  0.0
3  1.0  0.0
4  0.0  1.0
5  0.0  1.0
6  0.0  1.0
7  1.0  0.0
8  0.0  1.0
9  0.0  1.0