In [1]:
2 + 7

9

## This is some text here

<li>bullet</li>

In [2]:
my_value = 2 + 7

In [3]:
my_value

9

In [4]:
my_list = ['a', 'b', 'c', 'd']

In [5]:
my_list

['a', 'b', 'c', 'd']

In [6]:
my_list[0]

'a'

In [7]:
my_list[:2]

['a', 'b']

In [8]:
my_list[:-1]

['a', 'b', 'c']

In [9]:
my_list.append('e')

In [10]:
my_list

['a', 'b', 'c', 'd', 'e']

In [11]:
def squared(a):
    """ returns square value of a """
    return a ** 2

In [12]:
squared(2)

4

In [14]:
range(1, 10, 1)

range(1, 10)

In [15]:
for i in range(1, 10):
    print(squared(i))

1
4
9
16
25
36
49
64
81

In [16]:
for i in my_list:
    print(i)

a
b
c
d
e