In [3]:
import pandas as pd
import numpy as np

In [4]:
movies = pd.read_csv('movies.csv')

In [88]:
movies[:10]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [30]:
ratings = pd.read_csv('ratings.csv')
ratings.drop(['timestamp'], axis=1, inplace=True)

In [31]:
ratings.head()

   userId  movieId  rating
0       1        6     2.0
1       1       22     3.0
2       1       32     2.0
3       1       50     5.0
4       1      110     4.0

In [74]:
table = ratings.pivot_table(index=['userId'], columns=['movieId'], values='rating')

In [75]:
table.shape

(706, 8552)

In [76]:
table.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,121271,122284,122495,122756,123109,124857,125916,126407,129454,129651
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4.0,NaN,4.0,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
def pearson(d1, d2):
    d1_cv = d1 - d1.mean()
    d2_cv = d2 - d2.mean()
    return np.sum(d1_cv * d2_cv) / np.sqrt(np.sum(d1_cv ** 2) * np.sum(d2_cv ** 2))

In [83]:
movies[movies['movieId'] == 1]

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [84]:
movies[movies['movieId'] == 2]

   movieId           title                      genres
1        2  Jumanji (1995)  Adventure|Children|Fantasy

In [86]:
pearson(table[1], table[2])

0.20285118554433546

In [100]:
pearson(table[1], table[27])

-0.0045909827988617324

In [101]:
movies[movies['movieId'] == 27]

    movieId                title          genres
26       27  Now and Then (1995)  Children|Drama