# Teaching computers how to read

In [2]:
doc_a = 'the cat sat on my face'
doc_b = 'the dog sat on my bed'

In [3]:
bow_a = doc_a.split(' ')
bow_b = doc_b.split(' ')

In [4]:
bow_a

['the', 'cat', 'sat', 'on', 'my', 'face']

In [5]:
bow_b

['the', 'dog', 'sat', 'on', 'my', 'bed']

In [6]:
word_set = set(bow_a).union(set(bow_b))

In [7]:
word_set

{'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat', 'the'}

In [8]:
word_dict_a = dict.fromkeys(word_set, 0)
word_dict_b = dict.fromkeys(word_set, 0)

In [9]:
word_dict_a

{'bed': 0, 'cat': 0, 'dog': 0, 'face': 0, 'my': 0, 'on': 0, 'sat': 0, 'the': 0}

In [10]:
for word in bow_a:
    word_dict_a[word] += 1
    
for word in bow_b:
    word_dict_b[word] += 1

In [11]:
word_dict_a

{'bed': 0, 'cat': 1, 'dog': 0, 'face': 1, 'my': 1, 'on': 1, 'sat': 1, 'the': 1}

In [13]:
import pandas as pd
pd.DataFrame([word_dict_a, word_dict_b])

   bed  cat  dog  face  my  on  sat  the
0    0    1    0     1   1   1    1    1
1    1    0    1     0   1   1    1    1